.landinglogin{
  position: absolute;
  left: 49.7%;
  top: 63.5%;
  transform: translate(-50%, -50%);
}
.landingloginborder{
  position: absolute;
  width: 35%;
  height: 12%;
  left: 49.7%;
  top: 63%;
  transform: translate(-50%, -50%);

  background: #632AAC;
  border: 1px solid #632AAC;
  box-sizing: border-box;
}
.landingsignup{
  position: absolute;
  left: 49.7%;
  top: 78%;
  transform: translate(-50%, -50%);
}
.landingsignupborder{
  position: absolute;
  width: 35%;
  height: 12%;
  left: 49.7%;
  top: 78%;
  transform: translate(-50%, -50%);
  background: #632AAC;
  border: 1px solid #632AAC;
  box-sizing: border-box;
}
.landingnomo{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.landingquote{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}


.ce-chat-list {
  background-color: rgb(240, 240, 240) !important;
}

.ce-chats-container {
  background-color: rgb(240, 240, 240) !important;
}

.ce-active-chat-card {
  background-color: #cabcdc !important;
  border: 4px solid #cabcdc !important;
  border-radius: 0px !important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}