.PicBoxJason{
    position: absolute;
    width: 10%;
    left: 2%;
    top: 17%;
    background: #ffffff;
    border: 3px solid #000000;
}
.PicBoxJason::after{
    content: "";
    display: block;
    padding-bottom: 100%;
    
}
.PicBoxZhaowei{
    position: absolute;
    width: 10%;
    left: 2%;
    top: 44%;
    background: #ffffff;
    border: 3px solid #000000;
}
.PicBoxZhaowei::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.PicBoxWeicheng{
    position: absolute;
    width: 10%;
    left: 2%;
    top: 71%;
    background: #ffffff;
    border: 3px solid #000000;
}
.PicBoxWeicheng::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.Pic{
    position: absolute;
    width: 98%;
    left: 1%;
    top: 7.5%;
}
.Pic::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.JasonInfo{
    position: absolute;
    top: 15%;
    left: 20%;
    font-style: normal;
    font-size: 1.3vmax;
    color: #000000;
}
.ZhaoweiInfo{
    position: absolute;
    top: 42%;
    left: 20%;
    font-style: normal;
    font-size: 1.3vmax;
    color: #000000;
}
.WeichengInfo{
    position: absolute;
    top: 69%;
    left: 20%;
    font-style: normal;
    font-size: 1.3vmax;
    color: #000000;
}
.BackBox{
    position: absolute;
    width: 8%;
    height: 6%;
    left: 91%;
    top: 90%;
    background: #632AAC;
    border: 1px solid #000000;
}
.BackBox::after{
    content: "";
    display: block;
    padding-bottom: 25%;
}
.Back{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 85%;
    top: 88%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
.designertitle{
    position: absolute;
    width: 350px;
    height: 50px;
    left: 38%;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    color: #5A4B6D;
}
