.NOMOtitle{
    position: absolute;
    height: 10%;
    width: 20%;
    left: 39%;
    top: 48%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 450%;
    color: #5A4B6D;
}
.backbutton{
    position: absolute;
    width: 12%;
    height: 6.5%;
    right: 30%;
    top: 75%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 200%;
    color: #FFFFFF;
}
.backbutton:hover{
    background: #320e63;
    cursor: pointer;
}
.profilebutton{
    position: absolute;
    width: 12%;
    height: 6.5%;
    right: 75%;
    top: 50%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 200%;
    color: #FFFFFF;
}
.profilebutton:hover{
    background: #320e63;
    cursor: pointer;
}
.searchbutton{
    position: absolute;
    width: 12%;
    height: 6.5%;
    right: 15%;
    top: 50%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 200%;
    color: #FFFFFF;
}
.searchbutton:hover{
    background: #320e63;
    cursor: pointer;
}
.identifiedbutton{
    position: absolute;
    width: 12%;
    height: 6.5%;
    right: 60%;
    top: 25%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 200%;
    color: #FFFFFF;
}
.identifiedbutton:hover{
    background: #320e63;
    cursor: pointer;
}
.anonymousbutton{
    position: absolute;
    width: 12%;
    height: 6.5%;
    right: 30%;
    top: 25%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 200%;
    color: #FFFFFF;
}
.anonymousbutton:hover{
    background: #320e63;
    cursor: pointer;
}
.designerbutton{
    position: absolute;
    width: 12%;
    height: 6.5%;
    right: 60%;
    top: 75%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 200%;
    color: #FFFFFF;
}
.designerbutton:hover{
    background: #320e63;
    cursor: pointer;
}