.Back{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 85%;
    top: 88%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-size: 30px;
    color: #FFFFFF;
}
.bsearch{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 64%;
    top: 43%;
    background: #5A4B6D;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-size: 30px;
    color: #FFFFFF;
}
input[type=searchbox] {
    font-size:30px;
    width: 25%;
    height: 5%;
    padding: 23px;
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(17%, 10%);
}
